.Pokedex-container {
  text-align: Pokedex-container;
}

.App-header {
  background-color: #ffffff;
  width: 90vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.App-sub-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-right: 1rem;
  
}

.pokedexgrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  max-height: 350px;
  overflow-y: scroll;
}

.captured{
  margin-right: 12rem;
}

.resetPokedex{
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 3.5rem;
  margin-top: 1rem;
}